#!/usr/bin/env ruby

require 'scholarmarkdown/snippets'
require 'scholarmarkdown/filter/acronym'
require 'scholarmarkdown/filter/citation'
require 'scholarmarkdown/filter/hyphenate_iri'
require 'scholarmarkdown/filter/include_code'
require 'scholarmarkdown/filter/labelify'
require 'scholarmarkdown/filter/references_to_footer'
require 'scholarmarkdown/filter/headerids_to_section'
require 'scholarmarkdown/filter/dokieli_ui'
require 'scholarmarkdown/filter/annotations'
require 'scholarmarkdown/filter/citation_metadata'

compile '/index.*' do
  filter :erb
  filter :scholar_citation, bibfile: items['/references.bib'],
                            style: 'lncs-custom'
  filter :kramdown
  filter :scholar_acronym, acronyms: items['/acronyms.csv']
  filter :scholar_hyphenate_iri
  filter :scholar_include_code
  filter :scholar_labelify
  filter :scholar_references_to_footer
  filter :scholar_headerids_to_section
  filter :rubypants
  layout '/default.*'
  filter :scholar_dokieli_ui
  filter :scholar_annotations, notifications: 'https://pod.linkedsoftwaredependencies.org/inbox/rdfostrich.github.io/article-jws2018-ostrich/',
                               annotations: 'https://pod.linkedsoftwaredependencies.org/annotation/rdfostrich.github.io/article-jws2018-ostrich/'
  filter :scholar_citation_metadata, publication_date: '2019/01/01',
                                     journal_title: 'Journal of Web Semantics',
                                     volume: '54',
                                     issue: '1',
                                     firstpage: '4',
                                     lastpage: '28',
                                     doi: '10.1016/j.websem.2018.08.001'
end

ignore '/*.md'
ignore '/*.bib'
ignore '/*.csv'

route '/**/*.{html,md}*' do
  if item.identifier =~ '/index.*'
    '/index.html'
  else
    item.identifier.without_ext + '/index.html'
  end
end

compile '/**/{screen,print}.scss' do
  filter :sass, syntax: :scss, style: :compressed
  write item.identifier.without_ext + '.css'
end
ignore '/**/*.scss'

compile '/**/*' do
  write item.identifier.to_s
end

layout '/**/*', :erb
