figure {
  img {
    width: 100%;
  }
}

.todo {
  color: red;
  &::before {
    content: "TODO: ";
  }
}

main code {
  font-family: "Ubuntu Mono", monospace;
}

li p {
  display: inline;
}

.abbreviation {
  text-transform: lowercase;
  font-variant: small-caps;
}